%h1 Listing results

%table
  %tr
    %th
    %th
    %th

  - @results.each do |result|
    %tr
      %td= link_to 'Show', result
      %td= link_to 'Edit', edit_result_path(result)
      %td= link_to 'Destroy', result, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Result', new_result_path
